body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	position: relative;
}
h1, h2, h3 {
	color: #282d30;
	font-weight: bold;
}
a, img, span, input, button {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
button {
	cursor: pointer;
	outline: none;
}
.hidden {
	display: none!important;
}
.header {
	height: 102px;
	background-color: #282d30;
}
.logo {
	max-width: 500px;
	margin: 0 auto;
}
.logo img {
    display: block;
    padding-top: 8px;
}
.request {
	padding: 68px 0 100px 0; 
}
.form-title {
	text-align: center;
	font-size: d42px;
	margin-bottom: 60px;
}
.form-request {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.input-wrap__input,
.radio-wrap,
.select-main,
.button, 
.jq-selectbox__select {
	width: 100%;
}



/*----------Input----------*/


.input-wrap {
	/*position: relative;*/
}
.input-wrap__label {
	color: #999;
	position: absolute;
	top: -22px;
    left: 26px;
    display: none;
}
.input-wrap__input {
	padding: 15px 10px 12px 10px;
	border: 1px solid #d9d9d9;
	border-bottom: none;
	-webkit-box-shadow: 0 2px 0 0 #d9d9d9;
	        box-shadow: 0 2px 0 0 #d9d9d9;
	position: relative;
	font-size: 12px;
	margin-bottom: 30px;
}
.input-wrap__input_discription {
	width: 100%;
}
.input-wrap__full-width {
	width: 100%;
}
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input:focus::-webkit-input-placeholder {
	color:transparent;
}
input:focus:-moz-placeholder {
	color:transparent;
}
input:focus::-moz-placeholder { 
	color:transparent;
}
input:focus:-ms-input-placeholder {
	color:transparent;
}
.input-wrap > input:visited, .input-wrap > input:valid {
	-webkit-box-shadow: 0 2px 0 0 #000;
	        box-shadow: 0 2px 0 0 #000;
}
.input-wrap > input:focus,
.input-wrap > input:hover {
	-webkit-box-shadow: 0 2px 0 0 #c4092f;
	        box-shadow: 0 2px 0 0 #c4092f;
	outline: none;
}

/*----------Radio Buttons----------*/

.radio-wrap__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.radio-wrap__input + label {
  	position: relative;
    padding: 0px 0px 0 20px;
    cursor: pointer;
    height: 20px;
    border-radius: 50%;
    margin-left: 23px;
}
.radio-title {
	color: #999;
	display: block;
	margin: -21px 0 15px 0;
}
.radio-wrap__input_white + label {
	margin-left: 3px;
	background: #fff;
	-webkit-box-shadow: 0px 0 0 1px #999;
	        box-shadow: 0px 0 0 1px #999;
}
.radio-wrap__input_black + label {
	background: #000;
}
.radio-wrap__input_gray + label {
	background: #cbcbcc;
}
.radio-wrap__input_red + label {
	background: #d74345;
}
.radio-wrap__input_green + label {
	background: #88c504;
}
.radio-wrap__input:hover + label {
	-webkit-box-shadow: 
	0px 0 0 2px #c4092f,
	0px 0 0 4px #fff,
	0px 0 0 6px #c4092f;
	        box-shadow: 
	0px 0 0 2px #c4092f,
	0px 0 0 4px #fff,
	0px 0 0 6px #c4092f;
	-webkit-transition: .1s ease;
	-o-transition: .1s ease;
	transition: .1s ease;	
}
.radio-wrap__input:checked + label {
	-webkit-box-shadow: 0px 0 0 5px #c4092f;
	        box-shadow: 0px 0 0 5px #c4092f;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

/*----------Select----------*/

select {
	outline: none;
	width: 100%!important;
}
select:required:invalid {
  color: #999;
}
select option[value=""][disabled] {
  display: none!important;
}
.select-main {
	padding: 0 0 0 15px;
}
.select-main:focus {
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.button {
	background: #c4092f;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	height: 40px;
	font-weight: bold;
	letter-spacing: 0.1em;
	border: 2px solid #c4092f;
	position: relative;
	-webkit-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}
.button:hover {
	-webkit-box-shadow: 
	0 0 0 2px #fff,
	0 0 0 4px #c4092f;
	        box-shadow: 
	0 0 0 2px #fff,
	0 0 0 4px #c4092f;
	-webkit-transition: .1s ease-out;
	-o-transition: .1s ease-out;
	transition: .1s ease-out;
	outline: none;
}
.button:disabled {
	-webkit-box-shadow: 
	0 0 0 2px #fff,
	0 0 0 4px #000;
	        box-shadow: 
	0 0 0 2px #fff,
	0 0 0 4px #000;
	background: #c4092f;
	border: 2px solid #c4092f;
	cursor: progress;
}
button:focus, button:active {
	outline: none;
}

/*----------Table----------*/

.table-title {
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
	padding-left: 15px;
	position: relative;
}
.table-title::before {
	content: '';
	background-color: #8b9497;
	width: 3px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.table {
	width: 100%;
	border: none; 
	line-height: 40px;
	border-collapse: collapse;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	margin-top: 30px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	overflow: hidden;
	transition: 0.3s;
}
.table thead {
	border-radius: 4px;
}
.table  th, .table td {
	padding: 9px 15px 5px;
}
.table th {
	background: #c4092f;
	color: #fff;
	text-align: left;
}
.table tr {
	border-bottom: 1px solid #e1e1e1;
}
.table-row__message,
.table td {
	text-align: left;
	color: #323232;
	background: #f5f6f6;
	line-height: 29px;
}
.table td:nth-child(1) {
	max-width: 270px;
}
.table td:nth-child(1) > p {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
  width: 10%;
}
.car-list {
	padding: 25px 0 320px 0;
}
.table-row__color {
	padding-top: 12px;
}
.table-row__color-sircle {
	background: #000;
	border-radius: 50%;
	display: block;
	height: 20px;
	width: 20px;
	margin: auto;
}
.table-row-title__additional-option {
	font-size: 13px;
	color: #8b9497;
	display: block;
	margin: -19px 0 0 0;
	line-height: 16px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.table-row__button {
	width: 88px;
	height: 29px;
	text-align: center;
	color: #8b9497;
	border: none;
	border-radius: 25px;
	background: transparent;
}
.table-row__button:hover {
	background: #282d30;
	color: 	#fff;
}
.table-row__price, .table-row__status {
	white-space: nowrap;
}
.table tr:nth-last-child(1) {
	border-bottom: none;
}
.table-row:hover >  td {
	background: #eaf6f6;
}
.table p {
	margin-top: 0;
}
td.table-row__message {
	text-align: center;
	font-weight: bold;
	color: #8b9497;
}
.year-column {
	width: 7%;
}
.color-column{
	width: 6%;
}
.status-column{
	width: 10%;
}
.price-column{
	width: 14%;
}

/*----------Footer----------*/

.footer {
	padding: 50px;
	background: #282d30;
}
.copyright {
	text-align: center;
	font-size: 11px;
	color: #fff;
}
.copyright__main {
	text-transform: uppercase;
	margin-bottom: 0;
}

.loader {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: .4s ease;
}

.spinner {
	display: inline-block;
    border-radius: 50%;
    -webkit-animation: spinner-border .5s linear infinite;
    animation: spinner-border .5s linear infinite;
}

.spinner__page-loader {
    width: 50px;
    height: 50px;
    border: 5px solid #282d30;
    border-right-color: #c4092f;
}

.spinner__button-loader {
	position: absolute;
    top: 10px;
    left: 22px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 2px solid #282d30;
    border-right-color: #fff;
}

@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}

.slide-away-left {
	transform: translateX(-100%);
	transition-duration: .5s;
	animation-timing-function:  cubic-bezier(0.86, 0.01, 0.82, 1);
	animation-fill-mode: forwards;
}

/*tr {
	transition: 
		transformY 1s linear 0s,
		opacity 1s linear 0s,
		font-size 0.5s linear 0.5s;
}
*/