/* 700-992px */
@media screen and (max-width: 992px) {
	.table th, .table td {
	    padding: 7px 5px;
	}
	.input-wrap__input_discription {
		width: 100%;
	}
}
/* 500-680px */
@media screen and (max-width: 650px) {
	.radio-wrap__input + label {
		margin-left: 10px;
	}
	.radio-title {
		margin-left: 11px;
	}
	.logo a img {
		max-width: 100%;
		margin: 0 auto;
	}
	.car-list {
		padding: 25px 0 100px 0;
	}
	.request {
		padding: 40px 0 25px 0;
	}
	.radio-wrap {
		margin-bottom: 15px;
	}

	/*----------Table-mobile(GRID)----------*/

	.table-row-mobile {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 16% 16% 16% auto 16% 16%;
		grid-template-columns: 16% 16% 16% auto 16% 16%;
		-ms-grid-rows: auto auto 50px;
		grid-template-rows: auto auto 50px;
	}

	.table-row-mobile > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.table-row-mobile > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.table-row-mobile > *:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}

	.table-row-mobile > *:nth-child(4) {
		-ms-grid-row: 1;
		-ms-grid-column: 4;
	}

	.table-row-mobile > *:nth-child(5) {
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}

	.table-row-mobile > *:nth-child(6) {
		-ms-grid-row: 1;
		-ms-grid-column: 6;
	}

	.table-row-mobile > *:nth-child(7) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	.table-row-mobile > *:nth-child(8) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.table-row-mobile > *:nth-child(9) {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
	}

	.table-row-mobile > *:nth-child(10) {
		-ms-grid-row: 2;
		-ms-grid-column: 4;
	}

	.table-row-mobile > *:nth-child(11) {
		-ms-grid-row: 2;
		-ms-grid-column: 5;
	}

	.table-row-mobile > *:nth-child(12) {
		-ms-grid-row: 2;
		-ms-grid-column: 6;
	}

	.table-row-mobile > *:nth-child(13) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}

	.table-row-mobile > *:nth-child(14) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}

	.table-row-mobile > *:nth-child(15) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}

	.table-row-mobile > *:nth-child(16) {
		-ms-grid-row: 3;
		-ms-grid-column: 4;
	}

	.table-row-mobile > *:nth-child(17) {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}

	.table-row-mobile > *:nth-child(18) {
		-ms-grid-row: 3;
		-ms-grid-column: 6;
	}
	.table-row-title {
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		grid-column: 1 / 4;
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / 2;
	}
	.table-row-title__additional-option {
		grid-column: 1 / -1;
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2 / 3	;
	}
	.table-row__year {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
		grid-row: -1 / -2;
	}
	.table-row__status {
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
		grid-row: -1 / -2;
	}
	.table-row__button {
		grid-column: -1 / -3;
		grid-row: -1 / -2;
		margin: auto 10px auto auto;
		background: #282d30;
		color: 	#fff;
		width: 74px;
	}
	.table-row__price {
		grid-column: -1 / -3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / 2;
		margin-left: auto;
	}
	.table-row-mobile {
		border-bottom: 1px solid #e1e1e1;
		padding: 17px 0 6px 0;
		text-align: left;
		color: #282d30;
		background: #f5f6f6;
	}
	.table-row-mobile p {
		margin: auto 0;
	}
	.table-row-mobile span,
	.table-row-mobile p {
		padding: 0 8px;
	}
	.table-row-mobile:hover {
		background: #eaf6f6;
	}
	.table thead {
		display: none;
	}
	.table tr {
	     border-bottom: none; 
	}
	.table tr > td:nth-last-child(1) {
		border-bottom: 1px solid #e1e1e1; 
	}
	.table-row-title__additional-option {
		margin: 12px 0 0 0;
	}
	.table-row-mobile {
		font-size: 15px;
	}
	.table-row__color-sircle {
		margin: 0 auto;
	}
}

/* -500px */
@media screen and (max-width: 500px) {
	.car-list .container {
		padding-left: 0;
		padding-right: 0;
	}
	.container {
		width: 100%;
	}
	.table-row-mobile {
		font-size: 14px;
		padding: 17px 15px 6px 15px;
	}
	.table-title {
		display: none;
	}
	.car-list {
		padding: 0;
	}
}